In [1]:
import pandas as pd
import os

In [2]:
#dir_base = "./../../../01_research_data/Ehsan/wheat/"
dir_base = "D:/01_research_data/Wheat/Data/"
#data_base = dir_base + "Data/"
data_base = "D:/01_research_data/Wheat/Data/"
raw_dir = os.path.join(data_base, "00_raw_by_location/")
configs_dir = dir_base + "configs/"

In [3]:
merged_super_trait = pd.read_pickle(os.path.join(raw_dir, "super_df_3months_prior_planting_with_traits.sav"))

In [4]:
split_year = 2020

train_df = merged_super_trait[merged_super_trait["year"] < split_year].copy()
test_df  = merged_super_trait[merged_super_trait["year"] >= split_year].copy()

In [10]:
test_df

,location,planting_date,harvest_date,mean_avg_rh_perc,mean_avg_temp_c,sum_cum_gdd_cday,mean_dailyGDD_diff_cday,mean_dap,mean_diurnal_temp_range_c,mean_freezing_dd_cday,...,mean_vpd_kpa,mean_wet_day_frequency_days,mean_wind_speed_ms,year,variety,grain_yield,plant_height,heading_date,protein_content,test_weight
781,almira,2020-04-13,2020-08-20,date 2020-01-05 76.32 2020-01-10 81.91 2...,date 2020-01-05 1.35 2020-01-10 -0.67 2...,date 2020-01-05 31.40 2020-01-10 5...,date 2020-01-05 1.96 2020-01-10 1.12 202...,date 2020-01-05 2.0 2020-01-10 7.0 2...,date 2020-01-05 6.08 2020-01-10 6.56 2...,date 2020-01-05 5.920 2020-01-10 8.180...,...,date 2020-01-05 0.176 2020-01-10 0.102 2...,date 2020-01-05 0.4 2020-01-10 0.4 2020-...,date 2020-01-05 4.38 2020-01-10 4.38 202...,2020,AP Coachman,29.666667,29.666667,176.000000,11.366667,55.166667
782,almira,2020-04-13,2020-08-20,date 2020-01-05 76.32 2020-01-10 81.91 2...,date 2020-01-05 1.35 2020-01-10 -0.67 2...,date 2020-01-05 31.40 2020-01-10 5...,date 2020-01-05 1.96 2020-01-10 1.12 202...,date 2020-01-05 2.0 2020-01-10 7.0 2...,date 2020-01-05 6.08 2020-01-10 6.56 2...,date 2020-01-05 5.920 2020-01-10 8.180...,...,date 2020-01-05 0.176 2020-01-10 0.102 2...,date 2020-01-05 0.4 2020-01-10 0.4 2020-...,date 2020-01-05 4.38 2020-01-10 4.38 202...,2020,AP Mondovi CL2,31.333333,31.333333,175.000000,13.133333,54.500000
783,almira,2020-04-13,2020-08-20,date 2020-01-05 76.32 2020-01-10 81.91 2...,date 2020-01-05 1.35 2020-01-10 -0.67 2...,date 2020-01-05 31.40 2020-01-10 5...,date 2020-01-05 1.96 2020-01-10 1.12 202...,date 2020-01-05 2.0 2020-01-10 7.0 2...,date 2020-01-05 6.08 2020-01-10 6.56 2...,date 2020-01-05 5.920 2020-01-10 8.180...,...,date 2020-01-05 0.176 2020-01-10 0.102 2...,date 2020-01-05 0.4 2020-01-10 0.4 2020-...,date 2020-01-05 4.38 2020-01-10 4.38 202...,2020,AP Renegade,27.666667,27.666667,176.333333,13.933333,54.900000
784,almira,2020-04-13,2020-08-20,date 2020-01-05 76.32 2020-01-10 81.91 2...,date 2020-01-05 1.35 2020-01-10 -0.67 2...,date 2020-01-05 31.40 2020-01-10 5...,date 2020-01-05 1.96 2020-01-10 1.12 202...,date 2020-01-05 2.0 2020-01-10 7.0 2...,date 2020-01-05 6.08 2020-01-10 6.56 2...,date 2020-01-05 5.920 2020-01-10 8.180...,...,date 2020-01-05 0.176 2020-01-10 0.102 2...,date 2020-01-05 0.4 2020-01-10 0.4 2020-...,date 2020-01-05 4.38 2020-01-10 4.38 202...,2020,Alum,27.333333,27.333333,174.666667,14.733333,52.666667
785,almira,2020-04-13,2020-08-20,date 2020-01-05 76.32 2020-01-10 81.91 2...,date 2020-01-05 1.35 2020-01-10 -0.67 2...,date 2020-01-05 31.40 2020-01-10 5...,date 2020-01-05 1.96 2020-01-10 1.12 202...,date 2020-01-05 2.0 2020-01-10 7.0 2...,date 2020-01-05 6.08 2020-01-10 6.56 2...,date 2020-01-05 5.920 2020-01-10 8.180...,...,date 2020-01-05 0.176 2020-01-10 0.102 2...,date 2020-01-05 0.4 2020-01-10 0.4 2020-...,date 2020-01-05 4.38 2020-01-10 4.38 202...,2020,CP3066 (CPX36619),26.666667,26.666667,171.000000,14.300000,59.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31611,walla_walla,2021-03-18,2021-08-12,date 2020-12-05 85.520 2020-12-10 81.130...,date 2020-12-05 -2.200000 2020-12-10 0....,date 2020-12-05 21967.25 2020-12-10 2197...,date 2020-12-05 0.580000 2020-12-10 1.42...,date 2020-12-05 337.0 2020-12-10 342.0 2...,date 2020-12-05 5.58 2020-12-10 6.16 2...,date 2020-12-05 19.440000 2020-12-10 16....,...,date 2020-12-05 0.088000 2020-12-10 0.12...,date 2020-12-05 0.2 2020-12-10 0.6 2020-...,date 2020-12-05 2.94 2020-12-10 4.82 202...,2021,YSC-603,19.666667,19.666667,NaN,15.000000,59.733333
31612,walla_walla,2021-03-18,2021-08-12,date 2020-12-05 85.520 2020-12-10 81.130...,date 2020-12-05 -2.200000 2020-12-10 0....,date 2020-12-05 21967.25 2020-12-10 2197...,date 2020-12-05 0.580000 2020-12-10 1.42...,date 2020-12-05 337.0 2020-12-10 342.0 2...,date 2020-12-05 5.58 2020-12-10 6.16 2...,date 2020-12-05 19.440000 2020-12-10 16....,...,date 2020-12-05 0.088000 2020-12-10 0.12...,date 2020-12-05 0.2 2020-12-10 0.6 2020-...,date 2020-12-05 2.94 2020-12-10 4.82 202...,2021,YSC-605,21.666667,21.666667,NaN,13.166667,59.866667
31613,walla_walla,2021-03-18,2021-08-12,date 2020-12-05 85.520 2020-12-10 81.130...,date 2020-12-05 -2.200000 2020-12-10 0....,date 2020-12-05 21967.25 2020-12-10 2197...,date 2020-12-05 0.580000 2020-12-10 1.42...,date 2020-12-05 337.0 2020-12-10 342.0 2...,date 2020-12-05 5.58 2020-12-10 6.16 2...,date 2020-12-05 19.440000 2020-12-10 16....,...,date 2020-12-05 0.088000 2020-12-10 0.12...,date 2020-12-05 0.2 2020-12-10 0.6 2020-...,date 2020-12-05 2.94 2020-12-10 4.82 202...,2021,YSC-803,19.333333,19.333333,NaN,17.700000,57.850000
31614,walla_walla,2022-03-29,2022-09-01,date 2021-12-01 69.30 2021-12-06 73.54 2...,date 2021-12-01 12.71 2021-12-06 5.01 2...,date 2021-12-01 22679.75 2021-12-06 2290...,date 2021-12-01 2.96 2021-12-06 3.01 202...,date 2021-12-01 332.0 2021-12-06 337.0 2...,date 2021-12-01 8.56 2021-12-06 7.56 2...,date 2021-12-01 6.020 2021-12-06 13.220...,...,date 2021-12-01 0.512 2021-12-06 0.250 2...,date 2021-12-01 0.6 2021-12-06 0.4 2021-...,date 2021-12-01 7.84 2021-12-06 6.04 202...,2022,NaN,NaN,NaN,NaN,NaN,NaN
31615,walla_walla,2023-04-06,2023-08-03,date 2023-01-05 94.24 2023-01-10 76.26 2...,date 2023-01-05 -0.81 2023-01-10 4.52 2...,date 2023-01-05 2.15 2023-01-10 8...,date 2023-01-05 1.34 2023-01-10 2.29 202...,date 2023-01-05 2.0 2023-01-10 7.0 2...,date 2023-01-05 3.20 2023-01-10 8.70 2...,date 2023-01-05 6.640 2023-01-10 4.060 2...,...,date 2023-01-05 0.028 2023-01-10 0.246 2...,date 2023-01-05 0.6 2023-01-10 0.8 2023-...,date 2023-01-05 4.08 2023-01-10 5.22 202...,2023,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# save the train test data splits
os.makedirs(os.path.join(data_base, "01_train_test_split/"), exist_ok=True)
train_df.to_pickle(os.path.join(data_base, "01_train_test_split/train_df.sav"))
test_df.to_pickle(os.path.join(data_base, "01_train_test_split/test_df.sav"))